<!doctype html>
<html>
	<head>
		<title>Titulo</title>
		
		<meta chaset="utf-8" />
		<meta name="description" content="Descrição completa do conteúdo limitada a 156 caracteres" />
		<meta name="Keywords" content="html, titulos, cabeçalhos, seo, meta tags, curso" />
		<meta name="author" content="Raffael Pires" />
	</head>

    <body>
        <h1>Titulo de nível 1</h1>
      	<h2>Titulo de nível 2</h2>
		<h3>Titulo de nível 3</h3>
		<h4>Titulo de nível 4</h4>
		<h5>Titulo de nível 5</h5>
		<h6>Titulo de nível 6</h6>
	</body>
</html>